<div class="lg:hidden px-4 py-3 border-b border-neutral-200 dark:border-neutral-800 flex items-center justify-between">
  <div class="flex items-center gap-2">
    <picture>
        <source srcset="/assets/images/logo-white.png" media="(prefers-color-scheme: dark)">
        <img ngSrc="/assets/images/logo-black.png" width="32" height="32" alt="Optifact Logo" class="h-8 w-8" />
      </picture>
    <span class="text-sm font-semibold">Optifact</span>
  </div>
  <app-button variant="ghost" size="icon" (clicked)="close.emit()" aria-label="Fermer le menu">
    <app-icon name="close"></app-icon>
  </app-button>
</div>
