# Sample environment variables for local docker-compose
# Copy to .env and adjust as needed

# Database
DB_NAME=optifact
DB_USERNAME=optifact
DB_PASSWORD=optifact
DB_PORT=5432

# Backend
PROFILE=prod
BACKEND_PORT=8080
CLAIM_FILE_ROOT_DIR=/data/claimFiles

# Frontend
FRONTEND_PORT=80
